<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @desaparecida.usuario %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @desaparecida.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @desaparecida.idade %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @desaparecida.sexo %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @desaparecida.data_nascimento %>
</p>

<p>
  <strong>Mae:</strong>
  <%= @desaparecida.mae %>
</p>

<p>
  <strong>Pai:</strong>
  <%= @desaparecida.pai %>
</p>

<%= link_to 'Editar', edit_desaparecida_path(@desaparecida) %> |
<%= link_to 'Voltar', desaparecidas_path %>
