<%= form_with(model: usuario, local: true, url: 'entrar', class: 'ui text large form') do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :email %>
    <div class="ui left icon input">
      <i class="user icon"></i>
      <%= form.text_field :email , class: 'form-control' %>
    </div>
  </div>


  <div class="field">
    <%= form.label :senha %>
    <div class="ui left icon input">
      <i class="lock icon"></i>
      <%= form.password_field :senha , class: 'form-control' %>
    </div>
  </div>


  <div class="actions">
    <%= form.submit :Entrar, class: 'ui fluid large teal submit button' %>
  </div>
<% end %>


