

<div class="ui borderless main menu">
  <%= link_to 'Perfil', edit_usuarios_path, class: 'item' %>
  <a href="#" class="item">Desaparecidos</a>
</div>
<div class="ui large form">
  <div class="ui stacked segment">

    <h2 class="ui dividing header">Foto<a class="anchor" id="variations"></a></h2>

    <div class="ui grid">



      <div class="four wide computer nine wide tablet six wide mobile column">
        <div class="ui card">
          <div class="image">
            <img src="https://semantic-ui.com/images/avatar2/large/kristy.png">
          </div>

        </div>

      </div>
      <div class="twelve wide column">
        <button class="ui basic button"onclick="editar('email', '<%= @usuario.email %>', 'file')"><i class="edit icon"></i>
          Imagen
        </button>
      </div>
    </div>
    <h2 class="ui dividing header">Dados<a class="anchor" id="variations"></a></h2>
    <div class="field">
      <button class="ui basic button"onclick="editar('email', '<%= @usuario.email %>', 'text')"><i class="edit icon"></i>
        Email: <%= @usuario.email %>
      </button>
    </div>

    <div class="field">
      <button class="ui basic button"onclick="editar('nome', '<%= @usuario.email %>', 'text')"><i class="edit icon"></i>
        Nome: <%= @usuario.nome %>
      </button>
    </div>

    <div class="field">
      <button class="ui basic button"onclick="editar('telefone', '<%= @usuario.email %>', 'text')"><i class="edit icon"></i>
        Telefone: <%= @usuario.telefone %>
      </button>
    </div>

    <div class="field">
      <button class="ui basic button"onclick="editar('nome', '<%= @usuario.endereco %>', 'text')"><i class="edit icon"></i>
        Endereco: <%= @usuario.endereco %>
      </button>
    </div>
    <div class="field">
      <button class="ui basic button"><i class="edit icon"></i>
        Senha: xxxxxx
      </button>
    </div>
  </div>
</div>


<script>
    function editar(elemento, valor, type) {
        var teste  = $('#valor_elemento');
        $('#nome_elemento')[0].innerText = elemento.toUpperCase();
        $('#valor_elemento').val(valor);
        $('#valor_elemento')[0].name = elemento;
        $('#valor_elemento')[0].type = type;

        $('.tiny.modal').modal('show') ;
    }
</script>

<div class="ui tiny test modal">
  <div class="header">
    <i class="edit icon"></i>
    <span>EDITAR</span>
  </div>
  <div class="content">
    <div class="ui form">
      <div class="field">

        <label id="nome_elemento"></label>
        <input id="valor_elemento">
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui negative left button">
      <i class="close icon"></i>
      CANCELAR
    </div>
    <div class="ui positive left labeled icon button">
      <i class="checkmark icon"></i>
      OK
    </div>
  </div>
</div>