<p id="notice"><%= notice %></p>

<h1>Testes</h1>

<table class='ui celled table'>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testes.each do |teste| %>
      <tr>
        <td><%= teste.nome %></td>
        <td><%= teste.descricao %></td>
        <td><%= link_to 'Visualizar', teste %></td>
        <td><%= link_to 'Editar', edit_teste_path(teste) %></td>
        <td><%= link_to 'Excluir', teste, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Teste', new_teste_path %>
