<%= form_with(model: desaparecido, local: true, class: 'ui form') do |form| %>
  <% if desaparecido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(desaparecido.errors.count, "error") %> prohibited this desaparecido from being saved:</h2>

      <ul>
      <% desaparecido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui divider"></div>
  <div class="field">
    <%= form.label :usuario_id %>
    <%= form.text_field :usuario_id %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :idade %>
    <%= form.number_field :idade %>
  </div>

  <div class="field">
    <%= form.label :sexo %>
    <%= form.number_field :sexo %>
  </div>

  <div class="field">
    <%= form.label :data_nascimento %>
    <%= form.datetime_select :data_nascimento %>
  </div>

  <div class="field">
    <%= form.label :mae %>
    <%= form.text_field :mae %>
  </div>

  <div class="field">
    <%= form.label :pai %>
    <%= form.text_field :pai %>
  </div>

  <div class="ui divider"></div>
  <div class="actions text-left">
    <%= link_to testes_path, class: 'ui basic button' do%>
        <i class='chevron left icon'></i> VOLTAR
     <% end %>
    <%= form.submit :Gravar, class: 'ui primary button' do %>
     <i class='save icon'></i> GRAVAR
    <%end%>
  </div>
<% end %>



