<!DOCTYPE html>
<html>
  <head>
    <title>Desaparecidos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/accordion.min.css', 'data-turbolinks-track': 'reload'   %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag '//code.jquery.com/jquery-3.2.1.slim.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' , 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', 'data-turbolinks-track': 'reload'  %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/accordion.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
